<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria 1</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="index.html">Inicio</a></li>
        <li>
            <a href="categorias.html">Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="categoria1.html">Categoria 1</a></li>
                <li><a href="categoria2.html">Categoria 2</a></li>
                <li><a href="categoria3.html">Categoria 3</a></li>
                <li><a href="categoria4.html">Categoria 4</a></li>
            </ul>
        </li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    
</body>
</html>