<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida Rápida</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="index.html">Inicio</a></li>
        <li>
            <a>Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="cat-estrategia.html">Estrategia</a></li>
                <li><a href="cat-familiar.html">Familiar</a></li>
                <li><a href="cat-partida.html">Partida Rápida</a></li>
                <li><a href="cat-cooperativo.html">Cooperativo</a></li>
            </ul>
        </li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/uno.webp" alt="UNO">
            </div>
            <div class="card-content"></div>
                <h3 class="card-title">UNO</h3>
                <p class="card-price">$8.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
            
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/dobble.jpg" alt="Dobble">
            </div>
            <div class="card-content">
                <h3 class="card-title">Dobble</h3>
                <p class="card-price">$12.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/sushi-go.jpeg" alt="Sushi Go!">
            </div>
            <div class="card-content">
                <h3 class="card-title">Sushi Go!</h3>
                <p class="card-price">$17.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
    </div>
        
    
</body>
</html>