<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperativo</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="index.html">Inicio</a></li>
        <li>
            <a>Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="cat-estrategia.html">Estrategia</a></li>
                <li><a href="cat-familiar.html">Familiar</a></li>
                <li><a href="cat-partida.html">Partida Rápida</a></li>
                <li><a href="cat-cooperativo.html">Cooperativo</a></li>
            </ul>
        </li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/pandemic.jpg" alt="Pandemic">
            </div>
            <div class="card-content">
                <h3 class="card-title">Pandemic</h3>
                <p class="card-price">$30.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/forbidden-island.jpg" alt="Forbidden Island">
            </div>
            <div class="card-content">
                <h3 class="card-title">Forbidden Island</h3>
                <p class="card-price">$24.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/ghost-stories.jpg" alt="Ghost Stories">
            </div>
            <div class="card-content">
                <h3 class="card-title">Ghost Stories</h3>
                <p class="card-price">$32.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
    </div>
    
</body>
</html>