<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiar</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="index.html">Inicio</a></li>
        <li>
            <a>Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="cat-estrategia.html">Estrategia</a></li>
                <li><a href="cat-familiar.html">Familiar</a></li>
                <li><a href="cat-partida.html">Partida Rápida</a></li>
                <li><a href="cat-cooperativo.html">Cooperativo</a></li>
            </ul>
        </li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <!-- Juegos Categoria Familiar -->
    <div class="contenedor">
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/dixit.jpg" alt="Dixit">
            </div>
            <div class="card-content">
                <h3 class="card-title">Dixit</h3>
                <p class="card-price">$25.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/jungle-speed.jpeg" alt="Jungle Speed">
            </div>
            <div class="card-content">
                <h3 class="card-title">Jungle Speed</h3>
                <p class="card-price">$20.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/ticket-to-ride.webp" alt="Ticket to Ride">
            </div>
            <div class="card-content">
                <h3 class="card-title">Ticket to Ride</h3>
                <p class="card-price">$45.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
    </div>
    
</body>
</html>