<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar"></nav>
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="index.html">Inicio</a></li>
        <li>
            <a>Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="cat-estrategia.html">Estrategia</a></li>
                <li><a href="cat-familiar.html">Familiar</a></li>
                <li><a href="cat-partida.html">Partida Rápida</a></li>
                <li><a href="cat-cooperativo.html">Cooperativo</a></li>
            </ul>
        </li>
        <li><a href="about.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    
</body>
</html>