<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Place</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-title">Table Place</h1>
        <ul>
        <li><a href="#">Inicio</a></li>
        <li>
            <a href="#">Categorías ▾</a>
            <ul class="dropdown">
                <li><a href="#">Categoria 1</a></li>
                <li><a href="#">Categoria 2</a></li>
                <li><a href="#">Categoria 3</a></li>
                <li><a href="#">Categoria 4</a></li>
            </ul>
        </li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/jumanji-juego-de-mesa.jpg" alt="imagen-1">
            </div>
            <div class="card-content">
                <h3 class="card-title">Jumanji: Juego de Mesa</h3>
                <p class="card-price">$19.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/jenga.jpg" alt="imagen-2">
            </div>
            <div class="card-content">
                <h3 class="card-title">Jenga: Juego de Mesa</h3>
                <p class="card-price">$12.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/jenga.jpg" alt="imagen-2">
            </div>
            <div class="card-content">
                <h3 class="card-title">Jenga: Juego de Mesa</h3>
                <p class="card-price">$12.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
            </div>
        </div>
    </div>

    <div class="contenedor">
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/w=800,h=800,fit=pad.avif" alt="imagen-2">
            </div>
            <div class="card-content"></div>
                <h3 class="card-title">Jenga: Juego de Mesa</h3>
                <p class="card-price">$12.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
        <div class="card">
            <div class="box-1">
                <img src="/assets/img/w=1500,h=1500,fit=pad.avif" alt="imagen-3">
            </div>
            <div class="card-content"></div>
                <h3 class="card-title">Jenga: Juego de Mesa</h3>
                <p class="card-price">$12.990</p>
                <button class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
    </div>
        
    

    <footer class="footer">Francisca Valdivia</footer>
</body>
</html>